.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  &__item {
    flex-basis: calc(100% / 3 - 30px);
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  &__container {
    padding: 20px 24px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }
  &__title {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
  }
  &__bottom-text {
    color: var(--additional-text-color);
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  &__overlay {
    position: relative;
    width: 100%;
    height: 294px;
    /* при вказаних 100% висота блока стає 298, що перевищує висоту картинки */
    overflow: hidden;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 294px;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--bg-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover .portfolio__text,
  &:focus .portfolio__text {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
