.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: var(--additional-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}

.contacts .contacts__item + .contacts__item {
  margin-left: 30px;
}

.contacts__icon {
  width: 16px;
  height: 14px;
  margin-right: 10px;
  fill: currentColor;
  &:hover,
  &:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}

