.contacts {
  display: none;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: 84px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-left: 305px;
  }
}

.contacts__link {
  display: none;
  align-items: center;

  color: var(--additional-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.16;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
  }
}

.contacts .contacts__item + .contacts__item {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}
.contacts__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}

.contacts__icon {
  width: 16px;
  height: 14px;
  margin-right: 10px;
  fill: currentColor;
  &:hover,
  &:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}
