:root {
  --primary-text-color: #212121;
  --additional-text-color: #757575;
  --footer-adr-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --footer-color: #2f303a;
  --bg-color: #ffffff;
  --bg-section-color: #f5f4fa;
  --section-color: #f5f4fa;
  --logo-color: #000000;
  --border-color: #eeeeee;
  --clients-color: #afb1b8;
}
